{% extends "main/base.html" %}
{% block content %}
<div class="container">
  <div class="section">
    <h1>Добавить статью</h1>
    <form class="form-new-post" action="{% url 'new_blog_post' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col s8">
          {{ form.title.errors }}
          {{ form.title }}
        </div>
        <div class="col s4">
          <button class="btn waves-effect waves-light z-depth-0 form-new-post__submit">Опубликовать</button>
        </div>
      </div>
      <div class="row">
        <div class="col s8">
          {{ form.text.errors }}
          {{ form.text }}
        </div>
        <div class="col s4">
          {{ form.image.errors }}
          {{ form.image }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
